.department-photo {
    max-width: 300px;
    max-height: 300px;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double goldenrod;
    color: goldenrod;
    text-align: center;
    margin-top: 5%;
}

table {
    font-family: 'Cousine', monospace;
    font-size: 15px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

tr {
    padding: 12px 2px 0 2px;
    border-left: 2px solid goldenrod;
    color: #669;
}

td {
    padding-left: 12px;
}

.Collapsible {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Cousine', monospace;
    font-size: 35px;
    margin-left: 3%;
    color: #38A1F7;
    float: top;
}

.departmentTitle {
    float: start;
    /*margin-top: 5%;*/
    margin-bottom: -8%;
    font-family: 'Cousine', monospace;
    font-size: 35px;
    margin-left: 10%;
    color: #1a143e;
}