.img-responsive {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    padding: 14px 16px;
    margin-bottom: -15px;
    background-color: white;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  max-height: 100px;
  box-shadow: 1px 2px 1px goldenrod;}

ul.topnav li {
  float: left;
  font-family: 'Cousine', monospace;
}

ul.topnav li a .home {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li .link {
  color: #1a143e;
  font-size: 20px;
  display: block;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  padding-right: 15px;
}

.icon-text {
  margin-top: 30px;
  float: right;
}

.department-icon {
    max-height: 75px;
    max-width: 75px;
    padding: 14px 16px;
    background-color: transparent;
}
.officer-icon {
    margin-top: 11px;
    max-height: 55px;
    max-width: 65px;
    padding: 14px 16px;
    background-color: transparent;
}
.apple-icon {
    max-height: 85px;
    max-width: 85px;
    padding: 14px 16px;
    background-color: transparent;
}


ul.topnav li a:hover:not(.active) {background-color: #f0f4ff;}
ul.topnav li a.home {background-color: white;}
ul.topnav li a.home:hover {background-color: white;}
ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav {  max-height: 400px;}
  ul.topnav li.right,
  ul.topnav li {float: none;}

  ul.topnav li .home {
    display: block;
    margin-right: auto;
    width: 63%;
    line-height: 40px;
}

  ul.topnav li .link img {
    margin-left: 50px;
  }

  .img-responsive {
    margin-left: 47%;
  }

  #department-text {
    margin-right: 140px;
  }
}

@media screen and (max-width: 550px) {
  .img-responsive {
    margin-left: 42%;
    border-bottom: 2px solid goldenrod;
  }
}
@media screen and (max-width: 500px) {
  .img-responsive {
    margin-left: 38%;
    border-bottom: 2px solid goldenrod;
  }
}
@media screen and (max-width: 450px) {
  .img-responsive {
    margin-left: 33%;
    border-bottom: 2px solid goldenrod;
  }
}
@media screen and (max-width: 400px) {
  .img-responsive {
    margin-left: 29%;
    border-bottom: 2px solid goldenrod;
  }
}
